*{
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    display: block;
    box-shadow: 3px 4px 6px 3px white;
}

#fruList, #vegList{
    display: flex;
    justify-content: space-evenly;
    gap:50px;
}

@media only screen and (max-width:600px){
    #fruList, #vegList{
        flex-direction: column;
    }
   
}

@media only screen and (min-width:601px) and (max-width:1000px){
    #fruList, #vegList{
        display: grid;
        grid-template-columns: auto auto;
    }
}
